{% apply inline_css %}
<style>
* {
    font-family: 'Verdana';
    color: #666666;
}
</style>

<container>
    <row>
        <columns>
            <spacer size="16"></spacer>
            <h4>Une nouvelle demande de contact a été reçue</h4>

            <ul>
                <li>Nom : {{ data.name }}</li>
                <li>Email : {{ data.email }}</li>
            </ul>

            <p>
                <strong>Message</strong> :<br>
                {{ data.message | nl2br }}
            </p>
        </columns>
    </row>
</container>
{% endapply %}
