<div class="mb-10 wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
    <h1 class="w-full mt-7 text-5xl font-bold leading-tight text-center text-perfect">
        {{ pagetitle }}
    </h1>
    <div class="w-full">
        <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
</div>
