@tailwind base;
@tailwind components;
@tailwind utilities;
@config "../../tailwind.config.js";

@import "https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import "animations";

@layer base {
    html {
      font-family: theme("fontFamily.normal");
      font-size: 14px;
      color: theme("colors.blue-dark");
    }
  }
  
.debug {
  @apply border-2 border-solid;
  border: theme("colors.red-nine") !important;
}

.gradient {
    background: linear-gradient(
        to right bottom,
        theme("colors.blue-dark") 0%,
        theme("colors.turquoise") 51%,
        theme("colors.blue-dark") 100%
    );
}

.text-smallcaps {
    font-variant: small-caps;
}

.visible{
	visibility: visible !important;
}
.static{
	position: static !important;
}
.fixed{
	position: fixed !important;
}
.absolute{
	position: absolute !important;
}
.relative{
	position: relative !important;
}

.items-center {
    align-items: center !important;
}

.z-1000{
	z-index: 1000 !important;
}
.z-0{
	z-index: 0 !important;
}

.container{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1rem;
	padding-left: 1rem;
}
@media (min-width: 640px){
	.container{
		max-width: 640px;
	}
}
@media (min-width: 768px){
	.container{
		max-width: 768px;
	}
}
@media (min-width: 1024px){
	.container{
		max-width: 1024px;
	}
}
@media (min-width: 1200px){
	.container{
		max-width: 1200px;
	}
}

.opacity-25 {
    background-color: rgba(30, 41, 59, var(--tw-bg-opacity)) !important;
    opacity: 0.25 !important;
}

.nine-btn-primary {
    display: inline-block;
    background: linear-gradient(
        to right,
        theme("colors.blue-nine") 0%,
        theme("colors.turquoise") 51%,
        theme("colors.blue-nine") 100%
    );
    color: white;
    letter-spacing: 0;
    font-family: theme("fontFamily.accent");
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    padding: 0 38px;
    outline: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-size: 200% auto;

    &:hover {
        background-position: right center;
        color: white;
        box-shadow: 0 15px 30px 0 rgb(46 54 78 / 20%);
    }
}

.text-muted {
    color: #a3a6a8 !important;
}

/*HEADER*/
.sticky-bar {
    font-family: theme("fontFamily.accent");
    color: #fff;
    position: relative;
    z-index: 3;

    .menu-item {
        border-bottom: 4px solid transparent;
    }

    .menu-item:hover {
        background-color: rgba(106 106 106 / 30%);
        border-radius: 6px;
        border-bottom: 4px solid theme("colors.turquoise");
        transition-duration: 0.6s;
        transition-delay: 0.3s;
        transition-timing-function: ease-out;
    }
}

.sticky-bar.stick {
    -webkit-animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
    transition: all 0.3s ease 0s;
    background: #fff;
    color: theme("colors.blue-nine");
    margin-top: 0 !important;
}

.navbar-menu {
    animation: slide 700ms forwards;
    animation-delay: 2s;

}




/*HOME*/
.home-area {
	background: url(https://carolinenoyer.fr/images/volcans-cnoyer.png) no-repeat 50%;
    background-size: cover;
    height: 100vh;
    padding-top: 130px;
    position: relative;
    z-index: 1;
}

.btn-social {
    @apply text-white shadow-lg rounded-full border-blue-gray-400 border-2;
    
    transition: 0.5s;
    transition-delay: 0.3s;

    &:hover {
        border-color: theme("colors.turquoise");
        background: linear-gradient(
            to right bottom,
            theme("colors.blue-dark") 0%,
            theme("colors.turquoise") 51%,
            theme("colors.blue-dark") 100%
        );
    }
}

.skill-picto {
@apply p-3 text-center mb-3 mx-auto text-yellow-nine text-4xl;
}

.skill-title {
@apply text-2xl mb-2 font-semibold leading-normal text-center text-white;
}

.skill-item {
@apply text-xs font-semibold inline-block py-1 px-2 rounded-full text-blue-nine bg-light/50 uppercase mr-2 mt-2;
}



/*FOOTER*/
.footer {
    @apply text-blue-gray-400;
	background-color: theme("colors.blue-dark");
}

.list-inline {
    padding-left: 0;
    list-style: none;

    .list-inline-item:not(:last-child) {
        margin-right: 0.5rem;
    }

    .list-inline-item {
        display: inline-block;
    }
}