{% extends 'layout.html.twig' %}

{% block title %}Arcade{% endblock %}

{% block body %}
    <div class="pt-24">
        {% embed "blocks/title.html.twig" with {'pagetitle':"Borne d'arcade"} %}{% endembed %}
    </div>


{% endblock %}