{% extends 'layout.html.twig' %}

{% block title %}Créations{% endblock %}

{% block body %}
    <div class="pt-24">
        {% embed "blocks/title.html.twig" with {'pagetitle': "Créations"} %}{% endembed %}
    </div>

    <div class="container text-perfect">
        Le modelage d'argile consiste à manipuler de l'argile pour créer des formes et des sculptures. Voici une sélection
        de mes productions.<br>
        La liberté d'expression que cela implique m'a permis d'explorer différentes manières de travailler
        la matière, mélanger des couleurs d'argile, m'attarder sur les finitions... Du vernis mat, de la peinture ou de la cire,
        il y en a pour tous les goûts.<br>
        J'ai eu la chance de pouvoir m'exercer au tour de potier, mais c'est un véritable challenge et cela ne s'improvise pas. 
        Cela paraît pourtant si facile !
        <!--
        Le modelage d'argile est une forme d'expression artistique qui m'a profondément inspiré et enrichi. Au fil du temps, j'ai eu l'opportunité de créer une diversité de formes et de sculptures, chacune reflétant une part de mon imagination et de ma créativité. Voici un aperçu de quelques-unes de mes réalisations :
        Certaines sculptures représentent une exploration abstraite des formes organiques, mettant en valeur les courbes et les textures de l'argile. J'ai joué avec les contrastes de lumière et d'ombre pour créer une sensation de mouvement et de dynamisme. D'autres abordent le thème de la dualité, avec des formes géométriques contrastantes représentant l'opposition et l'harmonie.

        La liberté d'expression offerte par le modelage d'argile m'a permis d'explorer une multitude de techniques et de styles artistiques. J'ai pris plaisir à mélanger des couleurs d'argile pour obtenir des nuances uniques, à perfectionner les finitions avec du vernis mat, de la peinture ou de la cire selon mes envies créatives du moment.

J'ai également eu l'occasion de me familiariser avec le tour de potier, bien que cela représente un véritable défi qui demande patience et précision. La coordination des mouvements pour donner forme à l'argile demande une maîtrise qui s'acquiert avec le temps et la pratique. Malgré sa complexité, cette discipline m'a fasciné par sa capacité à transformer une simple boule d'argile en une œuvre d'art.

Le modelage d'argile ne se limite pas à la création d'objets, c'est un voyage introspectif qui m'a permis de me connecter avec ma créativité et d'explorer de nouvelles facettes de mon imagination. Chaque pièce que je crée est le résultat d'un processus de réflexion et d'expérimentation, et même si cela paraît parfois facile, chaque création est le fruit d'un travail minutieux et passionné.
        -->
    </div>

    {% for type in data.creationTypesList %}
    <section class="{% if loop.index is even %}bg-gray-light-nine{% else %}bg-white{% endif %} py-10">
        <div class="container">
            <h3 class="my-10 text-2xl font-accent font-semibold text-turquoise">{{ type.name }}</h3>
            {% set listItemsCreations = data.creationsList[type.label] %}
            <div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
                {% for creation in listItemsCreations %}
                    <div class="shadow-lg mb-4">
                        <div>
                            <a href="{{ 'images/creations/' ~ type.label ~ '/' ~ creation }}" class="glightbox9" data-gallery="gallery{{ type.id }}">
                                <img src="{{ 'images/creations/' ~ type.label ~ '/' ~ creation }}" alt="Argile" class="rounded">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endfor %}

{% endblock %}
