{% extends 'layout.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    <div class="pt-24">
        {% embed "blocks/title.html.twig" with {'pagetitle': "Projets"} %}{% endembed %}
    </div>

{% endblock %}
